body {
 margin-top: 2%;
 margin-right: 2%;
 margin-left: 2%;
 font-family: 'Dosis', sans-serif;
 color: #121213;
 font-size: 14px;
 line-height: 20px;
 overflow-x: hidden;
}

/* Banner Section start */
.banner {
    margin:2%;
    position: relative;
    height: 93vh;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #c1c3cc;
    background-image: linear-gradient(76deg,rgba(193, 195, 204, 0.83)35%,rgba(193, 195, 204, 0.28)65%), url('https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Nav start */
.navigation {
    margin-top: 2%;
    width: 92%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height:79px;
}


.brand {
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #e47312;
    text-align: center;
}

.brand img {
    width: 90px;
    transform: translateY(215%);
}

.nav-link {
    position: relative;
    padding: 31px 14px;
    color: #414147;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}

.active { color: #e47312; }

.nav-link.w--current { color: #e47312; }

.nav-link:hover{ color: #e47312 }

.nav-link:hover::before, .nav-link:hover::after {
    text-align: center;
    content:"|";
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    position: absolute;
    left: 25%;
    right: 25%;
}

.nav-link:hover::before {   top:0px; }
.nav-link:hover::after {   bottom:6px; }

#collapsible-menu-btn { display:none; }

.hamburger-line {
    height:2px;
    background-color: #000;
}


#collapsible-dropdown { display:none; }
.w-dropdown-list {
    display: none;
    position: relative;
    text-align: left;
    background-color: #fff;
    padding: 9px 13px;
    width: 150px;
    height:180px;
    top:-1px;
    left:370px;
}

.dropdown-link {
    display: block;
    color: #717177;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    cursor:pointer;
}

.dropdown-link:hover {
    background-color: #f1f1f7;
    color: #e47312;
}

.info-wrapper {
    border:none;
    height: 100%;
    margin-left: 20px;
    padding: 34px 28px 31px 31px;
    background-color: #e47312;
    transition: all 300ms ease;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.info-wrapper:hover {
    background-color: #e98a38;
}

/* Nav end */

/* Slogan start */
#slogan-section {
    position: relative;
    top:200px;
}

#slogan-section .top-title {
    color: #fff;
    font-size: 62px;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 0px; 
    letter-spacing: 1px;
}


.paragraph-white{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
}

.paragraph-white-bigger {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
}

#slogan-section .paragraph-white { margin-bottom:20px; }
.button { 
    outline: none;
    border: none;
    background-color: #e47312;
    min-width: 160px;
    padding: 15px 25px;
    transition: all 300ms ease;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align:center;
    letter-spacing: 1px;
    padding: 20px 20px;
    cursor: pointer;
}

#get-quote-btn { margin-top:20px; }


.button:hover{background-color: #e98a38}


#slogan-social-wrapper {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.social-vertical{  
    text-align: center;
    width:40px;
    padding: 10px; 
    background-color: #0a1229;
}

#slogan-social-wrapper .social-vertical {
    position: absolute;
    top:33%;
    right:0px;
}

.social-icon{ 
    display:block; 
    font-size:16px; 
    width: 40px; 
    height: 50px; 
    color:#fff; 
    line-height: 50px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14); 
    cursor: pointer;
}

/* Slogan end */

/* Info section start */
.features-wrapper { 
    color:#fff;
    position: absolute;
    bottom:-4%;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width:1000px;
    width: 65%;
    height:200px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg,#e47312,#ff6361);
}

.features-wrapper div {
    width:30%;
}

.info-image {
    width: 24px;
    margin-bottom: 15px;
}

.phone-text {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}

.for-button{
    font-weight: 600;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    cursor: pointer;
}

.features-wrapper .for-button {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}

.features-wrapper .for-button:hover {
    border-bottom: solid 2px #fff;
}

/* Info section end */

/* Banner Section end */


/* Services Section Start */

#services-heading {
    margin:150px 50px 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    z-index: 1;
}

.background-title {
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    z-index:-1;
}

#services-heading .top-title { position: relative; }

#services-heading .background-title {
    position: absolute;
    bottom:30px;
    left:-35px;
}

.for-button {
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
}

.for-button:hover {
    border-bottom: solid 2px #e47312
}


#service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left:5%;
    margin-right: 5%;
    
}

.service-item { width:20%; margin-bottom: 5%; }

.service-item-img { width:60px; }

.service-title{
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
}

#service-items p {
    margin-bottom: 10px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
/* Service section end */

/* Quote Overlay section start */
#quote-overlay {
    
    padding:95px 50px 35px 70px;
    width:380px;
    position: fixed;
    top:0px;
    right:0px;
    background-color: #fff;
    height:100vh;
    display:none;
    flex-direction: column;
    z-index: 999;
    animation-name: slideFromLeft;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes slideFromLeft {
    0% {
        right:-400px;
    }
    100% {
        right:0px;
    }
}

#quote-overlay .top-title { font-size: 30px; }

#quote-overlay .background-title {
    font-size: 100px;
    position:relative;
    top:-70px;
    left:-25px;
}

#quote-overlay .description {
    color: #919197;
    margin-bottom:3px;
    font-size:12px;
    font-weight: 600;
    letter-spacing: 1px;
}

#quote-overlay input, #quote-overlay textarea {
    font-size:13.33px;
    font-weight:400;
    padding:12px 12px 8px 0px;
    border:none;
    border-bottom: solid 1px #EDEDED;
    outline: none;
}

#quote-overlay input:hover, #quote-overlay input:focus, #quote-overlay textarea:hover, #quote-overlay textarea:focus {
    border-bottom: solid 1px #E47312;
}

#quote-overlay textarea {
    margin-bottom: 40px;
    width:100%;
    height: 60px;
}


#quote-overlay-close-btn {
    position: absolute;
    top:0px;
    right:0px;
    padding:12px;
    background-color: #E47312;
    cursor: pointer;
    width:60px;
    height:60px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor:pointer;
}

#overlay-btn-line-1 {
    height:2px;
    background-color: #fff;
    transform: rotate(-45deg);
}

#overlay-btn-line-2 {
    height:2px;
    background-color: #fff;
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Quote Overlay section end */

/* About Section start */
#about-section {
    position: relative;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#about-section div {
    margin-left: 5%;
    margin-right: 5%;
    width:35vw;
}

#about-section img {
    max-width: 600px;
    width:100%;
}  

#about-section .top-title { position: relative; }

#about-section .background-title {
    position: absolute;
    top:-20px;
    left:-50px;
}

#about-section p {
    margin-top:15px;
    margin-bottom: 25px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
/* About Section End */

/* Fun facts section start */
#fun-facts-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fun-facts-section div {
    width:200px;
}

.fun-text {
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}

#fun-facts-section p {
    margin-bottom: 10px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

/* Fun facts section end */

/* Services Section end */


/* Projects-Professionals-Testimonials Wrapper Start*/
#projects-professionals-testimonials-wrapper {
    margin-top: 80px;
    background-color: #F7F8FC;
}
/* Projects-Professionals-Testimonials Wrapper End*/


/* Projects Section Start */
#projects-heading {
    margin-bottom:5%;
    padding:120px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects-heading .top-title {
    position:relative;
    z-index: 1;
}

#projects-heading .background-title {
    position: absolute;
    top:-25px;
    left:-52px;
    z-index:-1;
}

#project-items {
   
   margin-left:auto;
   margin-right:auto;
   margin-top: 0px;
   margin-bottom: 0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   
}

#project-items > div {
    position: relative;
    margin-bottom: 20px;
    width:30vw;
    height:100%;
    /* height:365px; */
    cursor: pointer;
}

.project-item-img {
   /* width:410px; */
   width:100%;
}

.project-overlay {
    opacity: 1;
    background-color:rgba(0, 0, 0, 0.3);
    transition: all 200ms linear;
    opacity: 0;
    /* width:410px; */
    width:100%;
    height:99%;
    /* height:55.5vh; */
    position: absolute;
    top:0px;
    left:0px;
    /* height:365px; */
    display:flex;
    justify-content: center;
    align-items: center;   
}

.project-overlay:hover {
    opacity: 1;
}

.project-circle {
    width: 90px;
    height: 90px;
    padding-right: 11px;
    padding-left: 11px;
    box-sizing: border-box;
    background-image: linear-gradient(59deg,#ff6361,#e47312);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 50%;
    
}

.project-circle div {
    transform: translateY(75%);
    cursor:pointer;
}

.project-circle div a {
    text-decoration: none;
    color:inherit;
}
/* Projects Section End */

/* Orange Section Start */
.section {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url("https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg");
    background-position: cover;
    background-attachment: scroll, fixed;
}

.section .paragraph-white-bigger {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    
}

.section .top-title { color: #fff; }

.section p { margin-top: 40px; }

.section .for-button { color:#fff; }

.section .for-button:hover {border-bottom: solid 1px #fff;}
/* Orange Section End */

/* Professionals section start */
#professionals-heading {
    padding:120px 50px 0px 50px;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right:2%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prfessionals-heading .top-title {
    position:relative;
    z-index:1;
}

#professionals-heading .background-title {
    position: absolute;
    top:90px;
    left:0px;
    z-index:-1;
}

#professionals-info {margin:0px 5%;}

.team-photo { width:20vw; }

.team-content { 
    margin-top:0;
    padding: 29px 66px 29px 29px; 
    background-color: #fff; 
    width:20vw;
    /* background-color: red; */
    line-height: 10px;
    
    box-sizing: border-box;
}

.team-content .service-title { line-height: 20px; }

.job-title { margin-bottom: 0px; color: #bdbdc9; font-size: 16px; line-height: 20px; }


#professionals-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.professional-item {
    position: relative; 
    line-height: 10px;
    width:20vwpx;
}


#professionals-section .social-vertical { 
    position: absolute;
    bottom:0;
    right:0;
    /* top:-150px;
    left:300px; */
    background-color: #e47312; 
}
/* Professionals section end */

/* Testimonials section start */

.testimonials-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 61px auto;
    padding: 80px 5% 26px 0px;
}

.testimonial-paragraph{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
}

#testimonials-section-heading {  
    margin-left:70px;
    text-align: left;
    width:50%;
    z-index:1;
}

#testimonials-section-heading .testimonial-paragraph {
    width: 320px;
    margin:40px 0px;
}

#testimonials-section-heading .top-title {position: relative;}

#testimonials-section-heading .background-title {
    position: absolute;
    bottom:25px;
    left:-55px;
    z-index:-1;
}

#client-comments {
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width:50%;
}

#testimonials-left, #testimonials-right {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#testimonials-right {
    margin-top:200px;
    margin-left:50px;
}


.testi-content {
    background-color: #fff;
    width:20vw;
    padding:0px 20px;
    margin: 60px auto;
}

.testi-title {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top:50px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.testi-content .testimonial-paragraph {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
    
}

.testimonials-photo {
    position: relative;
    top:90px;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    border-radius: 100%;
    background-image: linear-gradient(8deg,#ff6361,#e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}

/* Testimonials section end */

/* Blog section start */

#blog-section { padding:0% 5%;}

#blog-section-heading {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
    height:200px;
}

#blog-section-heading .top-title {position: relative;}

#blog-section-heading .background-title {
    position: absolute;
    top:-25px;
    left:-52px;
}

#blog-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
    padding:0;
}

.blog-item {
    position:relative;
    width:30%;
    cursor: pointer;
}

.blog-item-overlay {
    margin:0;
    padding:0;
    position: absolute;
    top:0px;
    right:0px;
}

.meta-number { 
    width: 70px;
    height: 70px;
    background-image: linear-gradient(45deg,#ff6361,#e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    text-align:center;
    line-height: 70px;
}

.meta-month{ 
    width: 70px;
    height: 40px;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    line-height: 40px;
}

.blog-item-img {
    width:100%;
}

.blog-content{ 
    margin-top:-1.5%;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg,#e47312,#ff6361);
}

.blog-content .top-title {
    color:#fff;
    font-size:18px;
}

.blog-content .paragraph-white {
    margin:0;
    font-size: 16px;
    line-height: 20px;
}

.blog-content .for-button {
    color:#fff;
    border-bottom:solid 2px #F8977A;
}

.blog-content .for-button:hover {
    border-bottom: solid 2px #FFF;
}
/* Blog section end */

/* Logo section start */
.logo-section {
    margin-top:100px;
    background-image: linear-gradient(56deg,#e47312,#ff6361);
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    height:200px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
}

.logo-section-caption {
    font-size: 16px;
    font-weight:400;
}


.logo-section-item { cursor:pointer; }
/* Logo section end */

/* Footer section start */
.footer{ 
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid#2f3038;
    background-color: #0a1229;
    color:#fff;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin-bottom: 0%; */
}

.footer-item { 
    width:30%; 
}

.footer-item-title {
    display: flex;
    font-size:16px;
    font-weight: 500;
}

.line-div {
    width:50%;
    height:1px;
    background-color: #ff6361;
    position: relative;
    bottom:26px;
    left:90px;
}

.footer .paragraph-white {
    margin:10px 0px;
    font-size:16px;
    color:#fff;
    width:75%;
    line-height: 26px;
}

.footer .for-button { color:#fff;  font-weight:500; }

.footer .for-button:hover { border-bottom: solid 2px #fff; }

.footer-item > div > .paragraph-white {
    margin-left:10%;
    margin-top:-2%;
    color:#919197;
}

.contact-item-title {display: flex; justify-content: flex-start; align-items: center; }
.contact-item-title .info-image {margin-right:10px;}

.footer .brand {
    display:flex;
    width:100px;
    margin-top:10%;

}
/* Footer section end */


/* Responsive start */


@media (max-width:991px) { 

    body {
        margin:0;
        padding:0;
    }

    .banner { margin:0 0 20% 0; padding:0; }
    
    .navigation {
        margin: 0;
        padding:0;
        width:100%;
        height:60px;
    }

    .nav-link, .info-wrapper { display: none; }

    .brand {
        height: 100%;
        padding-right: 35px;
        padding-left: 35px;
    }

    .brand img { transform: translateY(100%); }

    #collapsible-menu-btn {
        padding:12px;
        cursor: pointer;
        width:60px;
        height:60px;
        box-sizing: border-box;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #collapsible-dropdown {
        display: none;
        position: relative;
        background-color: #fff;
        color: #414147;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
        top:60px;
        z-index:1;
    }

    .drop-forward {
        animation-name: displaySlow;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .drop-reverse {
        animation-name: displaySlow;
        animation-direction: reverse;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    @keyframes displaySlow {
        0% {
            height: 0px;
        }
        100% {
            height:240px;
        }
    }

    #collapsible-dropdown .active { color: #e47312; }

    #collapsible-dropdown .info-wrapper { 
        margin:0; 
        padding:20px 0; 
        display:inline-block; 
        width:100%;
        max-height: 54px;
        box-sizing: border-box;
    }

    #slogan-section {
        padding-left: 5%;
        padding-right:5%;
    }

    #slogan-social-wrapper .social-vertical {
        position: absolute;
        top:55%;
        right:0px;
    }

    .features-wrapper { 
        bottom:-25%;
        width:100%;
        right: 0px;
        padding:15px 0px 5px 0px;
    }

    #quote-overlay {
        width:100vw;
        box-sizing: border-box;
    }

    #services-heading {
        margin: 250px 50px 10% 50px;
    }

    #about-section {
        margin-top:50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #about-section div {
        width:90%;
        padding:0px 5%;
        /* max-width: 100vw; */
        box-sizing: border-box;
        margin-bottom:10%;    
    }

    #about-section .background-title {
        top:-20px;
        left:-10px;
    }

    .testimonials-wrapper {
        flex-direction: column;
        padding: 50px 0px 26px 0px; 
    }
    #testimonials-section-heading { width: 100%; margin-bottom: 15%;}
    #testimonials-section-heading .background-title { left:-10px;}
    #testimonials-section-heading .testimonial-paragraph {width:100%};
    #client-comments {width:100%; justify-content: center;}
    .testi-content {width:36vw;}

    .top-title {font-size: 32px;}
    .background-title {font-size: 80px;}   

    #services-heading .background-title {top:-25px; left:-10px;}

    #blog-section-heading .background-title {left:-10px;}

    .logo-section { margin-top:50px; padding:5% 0px; text-align: center;  }

    .logo-section-caption { transform:translateY(-50%); width:100%;}

    .footer .brand { padding-bottom: 30px;}
    
    
}

@media (max-width:768px) {

    #slogan-section .top-title {font-size:40px;}

    .top-title {font-size: 28px;}
    .background-title {font-size: 60px;}

    #services-heading .background-title { top:-15px; }

    .service-item { width:100%; }

    #fun-facts-section {
        margin:0px 10% 0px 10%;
        flex-direction: column;
    }

    #fun-facts-section div { width:100%; }

    .fun-text {margin-top:0px;}

    #project-heading {
        margin-left: 5%;
        margin-right: 5%;
    }

    #project-items {
        margin-left:5%;
        margin-right:5%;
    }
    
    #project-items > div {
        margin-bottom: 20px;
        width:100vw;   
    }

    #professionals-info {
        flex-direction: column;
    }

    #professionals-heading .background-title { top:105px; left:15px; }

    .professional-item {
        width:100%;
    }

    .team-photo { 
        width:100%; 
        max-height:300px; 
        object-fit: none; 
        object-position: 50% 15%;
    }

    .team-content{ width: 100%;}


    #client-comments { flex-direction: column; justify-content: center;}
    #testimonials-right {margin:0px;}
    .testi-content {width:65vw;}

    #blog-items { flex-direction: column;}
    .blog-item { width:100%; margin-bottom: 5%;}

    /* .logo-section { margin-top:50px; padding:10% 0px; text-align: center; height:100px;}

    .logo-section-caption { transform:translateY(-100%); width:100%;}
    .logo-section-item { width: 30%; margin-bottom: 50px;  } */

    .logo-section {
        justify-content: stretch;
        height: 250px;
    }

    .logo-section-item { width: 30%; }

    .footer-item { width:100%; }
    
    .line-div { width: 80%; }
    
    
}

@media (max-width:480px) {

    .banner { height: 75vh; }

    #slogan-section {top:100px;}

    #slogan-section .top-title {max-width:70%;}

    #slogan-section .paragraph-white { max-width:50%;}

    .features-wrapper { display: none; }

    #services-heading {
        margin-top: -50px;
        margin-left:4%;
        flex-direction: column;
        align-items: flex-start;
    }

    .background-title {
        display:none;
    }

    #projects-heading {
        margin-top: -50px;
        padding:60px 0px 0px 0px;
        margin-left:4%;
        flex-direction: column;
        align-items: flex-start;
    }

    .section {
        padding-left:5%;
        padding-right: 5%;
        text-align: left;
    }

    #professionals-heading {
        padding:60px 0px 0px 0px;
        margin-left:4%;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Responsive end */